@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}

html.dark body {
  background-color: #111827;
}

.rtl {
  direction: rtl;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

html.dark *::-webkit-scrollbar-thumb {
  background-color: #898f9a;
}